<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <title>{{ page_title }}</title>
    {{ 'styles.css' | asset_url | stylesheet_tag }}
    {{ content_for_header }}
  </head>
  <body>
    <a class="skip" href="#main">Skip to main content</a>
    <main id="main" class="main__container" role="main" tabindex="-1">
      {% render 'breadcrumbs' %}
      {{ content_for_layout }}
    </main>
    <div id="Login">
      <h2>Login</h2>
      {%- form 'storefront_password' -%}
        {{ form.errors | default_errors }}
        <label for="password">Password</label>
        <input type="password"
          name="password"
          id="password"
          placeholder="Your password">
        <button type="submit" name="commit">
          <p>Enter</p>
        </button>
      {%- endform -%}
      <p>Are you the store owner? <a href=\"\/admin\" class=\"text-link\">Log in here<\/a></p>
    </div>
  </body>
</html>
