<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <title>{{ page_title }}</title>
    {{ 'styles.css' | asset_url | stylesheet_tag }}
    {{ content_for_header }}
    {% render 'social-meta-tags' %}
  </head>
  <body>
    <a class="skip" href="#main">Skip to main content</a>
    {% section 'announcement-bar' %}
    {% section 'header' %}
    <main id="main">
      {{ content_for_layout }}
    </main>
    {% section 'footer' %}
    {% capture scripts %}
      {{ 'scripts.js' | asset_url | script_tag }}
    {% endcapture %}
    {{ scripts | replace: '<script', '<script defer' }}
  </body>
</html>
