<h2>Your cart ({{ cart.item_count }})</h2>

{% if cart.empty? %}
  <p>Your cart is empty</p>
{% else %}
  {% form 'cart', cart %}
    {% for item in cart.items %}
      <img src="{{ item.image | image_url: width: 200, height: 200 }}" loading="lazy" alt="{{ item.title }}">
      <h3>{{ item.product.title }}</h3>
      <p>{{ item.variant.title }}</p>
      <a href="item.url_to_remove">remove</a>
      <p>{{ item.final_line_price | money }}</p>
      <input name="quantity" value="{{ item.quantity }}">
    {% endfor %}

    <p>{{ cart.total_discounts | money }}</p>
    <p>{{ cart.total_price | money }}</p>

    <button role="button" type="submit" name="checkout">Checkout</button>
  {% endform %}
{% endif %}

{% schema %}
  {
    "name": "Cart drawer",
    "settings": [],
  }
{% endschema %}
