<div class="cart-drawer__container">
  <p>Cart</p>
  <button role="button" class="cart-drawer__close"><span class="visually-hidden">Close cart</span></button>

  <div class="cart-drawer__content">
    {% if cart.empty? %}
      <p>Your cart is empty</p>
    {% else %}
      {% form 'cart', cart %}
        {% for item in cart.items %}
          <div class="cart_item" data-line-item-key="{{ item.key }}">
            <div class="product-image__container">
              <img class="product-image__image" src="{{ item.image | image_url: width: 200, height: 200 }}" height="200" width="200" loading="lazy" alt="{{ item.title }}">
            </div>

            <div class="product__container">
              <span>{{ item.product.title }}</span>
              <span>{{ item.variant.title }}</span>
              <span>{{ item.final_line_price | money }}</span>
            </div>

            <div class="quantity__container">
              <button role="button" class="quantity__minus"><span class="visually-hidden">Minus quantity</span></button>
              <input name="quantity" class="quantity__value" value="{{ item.quantity }}">
              <button role="button" class="quantity__plus"><span class="visually-hidden">Plus quantity</span></button>
            </div>
          </div>
        {% endfor %}

        <p>{{ cart.total_discounts | money }}</p>
        <p>{{ cart.total_price | money }}</p>

        <button role="button" type="submit" name="checkout">Checkout</button>
      {% endform %}
    {% endif %}
  </div>
</div>
<div class="cart-drawer__overlay"></div>

{% schema %}
  {
    "name": "Cart drawer",
    "class": "cart-drawer"
  }
{% endschema %}

{% stylesheet %}
  .cart-drawer {
    transition: opacity 0.3s;

    &:not(.active) {
      display: none;
      pointer-events: none;
    }

    &.active {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;

      .cart-drawer__overlay {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.25);
      }
    }

    .cart-drawer__container {
      background-color: #fff;
      padding: 1rem;
      border-radius: 1rem;
      z-index: 1;
    }
  }
{% endstylesheet %}

{% javascript %}
  function openCartDrawer() {
    document.querySelector('.cart-drawer').classList.add('active');
  }

  function closeCartDrawer() {
    document.querySelector('.cart-drawer').classList.remove('active');
  }

  function updateCartItemCounts(count) {
    document.querySelectorAll('.cart-count').forEach((el) => {
      el.textContent = count;
    });
  }

  async function updateCartDrawer() {
    const res = await fetch('/?section_id=cart-drawer');
    const text = await res.text();

    const html = document.createElement('div');
    html.innerHTML = text;

    const newBox = html.querySelector('.cart-drawer__content').innerHTML;

    document.querySelector('.cart-drawer__content').innerHTML = newBox;

    addCartDrawerListeners();
  }

  function addCartDrawerListeners() {
    document.querySelectorAll('.quantity__container button').forEach((button) => {
      button.addEventListener('click', async (e) => {
        e.preventDefault();

        const rootItem = button.parentElement.parentElement;
        const key = rootItem.getAttribute('data-line-item-key');

        const currentQuantity = Number(button.parentElement.querySelector('input').value);
        const isUp = button.classList.contains('quantity__plus');
        const newQuantity = isUp ? currentQuantity + 1 : currentQuantity - 1;

        const res = await fetch('/cart/update.js', {
          method: 'POST',
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ updates: {[key]: newQuantity} }) 
        });

        const cart = await res.json();

        updateCartItemCounts(cart.item_count);

        updateCartDrawer();
      });
    });
  }

  addCartDrawerListeners();

  /*
   * Add to cart
  */
  document.querySelectorAll('form[action$="/cart/add"]').forEach((form) => {
    form.addEventListener('submit', async (e) => {
      e.preventDefault();

      await fetch('/cart/add', {
        method: 'POST',
        body: new FormData(form),
      });

      const res = await fetch('/cart.js');
      const cart = await res.json();
      updateCartItemCounts(cart.item_count);

      await updateCartDrawer();

      openCartDrawer();
    });
  });

  document.querySelectorAll('.cart-drawer__overlay, .cart-drawer__close').forEach((el) => {
    el.addEventListener('click', () => {
      closeCartDrawer();
    });
  });

  document.querySelectorAll('a[href="/cart"]').forEach((a) => {
    a.addEventListener('click', (e) => {
      e.preventDefault();
      openCartDrawer();
    });
  });
{% endjavascript %}
