<div class="cart-drawer__container">
  <p class="h2">Cart</p>
  <button role="button" class="cart-drawer__close"><span>Close cart</span></button>

  {% if cart.empty? %}
    <p>Your cart is empty</p>
  {% else %}
    {% form 'cart', cart %}
      {% for item in cart.items %}
        <img src="{{ item.image | image_url: width: 200, height: 200 }}" height="200" width="200" loading="lazy" alt="{{ item.title }}">
        <p class="h3">{{ item.product.title }}</p>
        <p>{{ item.variant.title }}</p>
        <a href="{{ item.url_to_remove }}">remove</a>
        <p>{{ item.final_line_price | money }}</p>
        <input name="quantity" value="{{ item.quantity }}">
      {% endfor %}

      <p>{{ cart.total_discounts | money }}</p>
      <p>{{ cart.total_price | money }}</p>

      <button role="button" type="submit" name="checkout">Checkout</button>
    {% endform %}
  {% endif %}
</div>
<div class="cart-drawer__overlay"></div>

{% schema %}
  {
    "name": "Cart drawer",
    "class": "cart-drawer"
  }
{% endschema %}

{% stylesheet %}
  .cart-drawer {
    &:not(.active) {
      display: none;
      pointer-events: none;
    }

    &.active {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;

      .cart-drawer__overlay {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.25);
      }
    }

    .cart-drawer__container {
      background-color: #fff;
      padding: 1rem;
      border-radius: 1rem;
      z-index: 1;
    }
  }
{% endstylesheet %}

{% javascript %}
  /*
   * Add to cart
  */
  document.querySelectorAll('form[action$="/cart/add"]').forEach((form) => {
    form.addEventListener('submit', async (e) => {
      e.preventDefault();

      await fetch('/cart/add', {
        method: 'POST',
        body: new FormData(form),
      });

      document.querySelector('.cart-drawer').classList.add('active');
    });
  });

  document.querySelectorAll('.cart-drawer__overlay, .cart-drawer__close').forEach((el) => {
    el.addEventListener('click', () => {
      document.querySelector('.cart-drawer').classList.remove('active');
    });
  });

  document.querySelectorAll('a[href="/cart"]').forEach((el) => {
    el.addEventListener('click', (e) => {
      e.preventDefault();

      document.querySelector('.cart-drawer').classList.add('active');
    });
  });
{% endjavascript %}
