<header class="header">
  <nav class="nav">
    <div class="nav__container">
      <div class="nav__logo">
        {%- if template.name == 'index' -%}
          <h1 itemscope itemtype="http://schema.org/Organization">
        {%- else -%}
          <div itemscope itemtype="http://schema.org/Organization">
        {%- endif -%}
          <a href="/" itemprop="url">
            <img src="{{ 'logo.svg' | asset_url }}" alt="{{ shop.name }}" height="38" width="150" itemprop="logo">
          </a>
        {%- if template.name == 'index' -%}
          </h1>
        {%- else -%}
          </div>
        {%- endif -%}
      </div>
      <input type="checkbox" class="nav__toggle hidden" id="navToggle">
      <label for="navToggle" class="nav__label"></label>
      <nav class="nav__menu" role="navigation">
        {%- for link in linklists.main-menu.links -%}
           <div class="nav__link">
             <a href="{{ link.url }}" class="nav__link--item{% if link.active %} active{% endif %}"{% if link.active %} aria-current="page"{% endif %}>
               {{ link.title }}
             </a>
           </div>
        {%- endfor -%}
        {%- if shop.customer_accounts_enabled -%}
          {%- if customer -%}
            <div class="nav__link">
              <a href="/account" class="nav__link--item">Account</a>
            </div>
            <div class="nav__link">
              {% capture log-out %}
                {{ 'Log out' | customer_logout_link }}
              {% endcapture %}
              {{ log-out | replace: '<a', '<a class="nav__link--item"' }}
            </div>
          {%- else -%}
            <div class="nav__link">
              {% capture log-in %}
                {{ 'Log in' | customer_login_link }}
              {% endcapture %}
              {{ log-in | replace: '<a', '<a class="nav__link--item"' }}
            </div>
            <div class="nav__link">
              {% capture create %}
                {{ 'Create account' | customer_register_link }}
              {% endcapture %}
              {{ create | replace: '<a', '<a class="nav__link--item"' }}
            </div>
          {%- endif -%}
        {%- endif -%}
      </nav>
    </div>
  </nav>
</header>

{% schema %}
  {
    "name": "Header"
  }
{% endschema %}
