<div class-"product">
  <h1 class="product__title">{{ product.title }}</h1>
  <p class="product__price">{{ product.price | money }}</p>

  {% form 'product', product %}
    <input type="number" name="quantity" min="1" value="1">
    <select name="id"{% if product.has_only_default_variant %} class="hidden"{% endif %}>
      {% for variant in product.variants %}
        {% if variant.available == true %}
            <option value="{{ variant.id }}" data-price="{{ variant.price | money }}">{{ variant.title }}</option>
          {% else %}
            <option disabled="disabled">{{ variant.title }} (sold out)</option>
        {% endif %}
      {% endfor %}
    </select>
    <input type="submit" value="Add to cart">
    <dialog>
      <p><span class="dialog--quantity"></span> x <span class="dialog--title"></span> added to <a href="/cart">cart</a></p>
    </dialog>
  {% endform %}

  <div class="product__gallery">
    {%- for image in product.images -%}
      {%- capture variantTitle -%}
        {%- for variant in image.variants -%}
          {%- if image.attached_to_variant? -%}
            {{ variant.title }}
          {% endif %}
        {%- endfor -%}
      {%- endcapture -%}

      <picture class="product__image{% if variantTitle.size > 1 %} {{ variantTitle | downcase | strip }}{% endif %}{% unless forloop.first %} hidden{% endunless %}">
        <source media="(max-width: 375.98px)" srcset="{{ image.src | img_url: '343x343' }}" />
        <source media="(min-width: 376px) and (max-width: 575.98px)" srcset="{{ image.src | img_url: '543x543' }}" />
        <source media="(min-width: 576px) and (max-width: 768.98px)" srcset="{{ image.src | img_url: '736x736' }}" />
        <source media="(min-width: 769px)" srcset="{{ image.src | img_url: '928x928' }}" />
        <img
            src="{{ image.src | img_url: '928x928' }}"
            height="928" width="928"
            alt="{{ image.alt | escape }}{% if variantTitle.size > 1 %} {{ variantTitle | strip }}{% endif %}"
            {% unless forloop.first %}loading="lazy"{% endunless %}
        >
      </picture>
    {%- endfor -%}
  </div>

  <button class="product__image--btn-previous" role="button">Previous</button>
  <button class="product__image--btn-next" role="button">Next</button>

  <p>{{ product.description }}</p>
</div>

{% schema %}
  {
    "name": "Product",
    "tag": "section",
    "class": "product",
    "limit": 1,
    "settings": [],
    "presets": [
      {
        "name": "Product"
      }
    ],
    "enabled_on": {
      "templates": ["product"]
    }
  }
{% endschema %}

{% javascript %}
  /*
    Add to cart Ajax
  */
  const addToCartForm = document.querySelector('form[action$="/cart/add"]');
  const addToCartBtn = addToCartForm.querySelector('input[type="submit"]');

  addToCartAjax = () => {
    const formData = new FormData(addToCartForm);

    fetch(window.Shopify.routes.root + 'cart/add.js', {
      method: 'POST',
      body: formData
    })
    .then(response => {
      return response.json();
    })
    .catch((error) => {
      console.error('Error:', error);
    });
  };


  /*
    Update product price and image based on select option
  */
  const addToCartSelect = addToCartForm.querySelector('select'),
  const productTitle = document.querySelector('.product__title');
  const productPrice = document.querySelector('.product__price');
  const productImagess = document.querySelectorAll('.product__image');

  productImageUpdate = () => {
    let productVariantTitle = addToCartSelect.options[addToCartSelect.selectedIndex].innerHTML;

    productImages.forEach((image) => {
      (image.classList.contains(productVariantTitle.toLowerCase())) ? image.classList.remove('hidden') : image.classList.add('hidden');
    });
  }

  productPriceUpdate = () => {
    let price = addToCartSelect.options[addToCartSelect.selectedIndex].getAttribute('data-price');

    productPrice.innerHTML = price;
  }

  document.addEventListener('DOMContentLoaded', () => productPriceUpdate());
  addToCartSelect.addEventListener('change', () => {
    productImageUpdate();
    productPriceUpdate();
  });


  /*
    Allow browsing of product images via button navigation
  */
  const productGalleryBtnPrevious = document.querySelector('[class*=btn-previous]');
  const productGalleryBtnNext = document.querySelector('[class*=btn-next]');

  productGalleryBrowse = (direction) => {
    let currentImage = document.querySelector('.product__image:not(.hidden)');

    if (direction === 'next' && currentImage.nextSibling != null) {
      currentImage.classList.add('hidden')
      currentImage.nextSibling.classList.remove('hidden');
    } else if (direction === 'previous' && currentImage.previousSibling != null) {
      currentImage.classList.add('hidden')
      currentImage.previousSibling.classList.remove('hidden');
    }
  }

  productGalleryBtnPrevious.addEventListener('click', () => productGalleryBrowse('previous'));
  productGalleryBtnNext.addEventListener('click', () => productGalleryBrowse('next'));


  /*
    Dialog config and show on cart add
  */
  const addToCartDialog = addToCartForm.querySelector('dialog');
  const dialogTitle = addToCartDialog.querySelector('.dialog--title');
  const dialogQuantity = addToCartDialog.querySelector('.dialog--quantity');

  addToCartBtn.addEventListener('click', (event) => {
    event.preventDefault();
    addToCartAjax();

    let productVariantTitle = addToCartSelect.options[addToCartSelect.selectedIndex].innerHTML;
    let title = `${productTitle.innerHTML} ${productVariantTitle}`;
    let quantity = addToCartForm.querySelector('input[name="quantity"]').value;

    dialogTitle.innerHTML = title;
    dialogQuantity.innerHTML = quantity;

    addToCartDialog.showModal();
    setTimeout(() =>  {
      addToCartDialog.close()
    }, 4000);
  });
{% endjavascript %}
