<h1 class="product--title">{{ product.title }}</h1>
<p class="product--price">{{ product.price | money }}</p>

{% form 'product', product %}
  <select name="id"{% if product.has_only_default_variant %} class="hidden"{% endif %}>
    {% for variant in product.variants %}
      {% if variant.available == true %}
          <option value="{{ variant.id }}" data-price="{{ variant.price | money }}">{{ variant.title }}</option>
        {% else %}
          <option disabled="disabled">{{ variant.title }} (sold out)</option>
      {% endif %}
    {% endfor %}
  </select>
  <input type="text" name="quantity" min="1" value="1">
  <input type="submit" value="Add to cart">
  <dialog>
    <p><span class="dialog--quantity"></span> x <span class="dialog--title"></span> added to <a href="/cart">cart</a></p>
  </dialog>
{% endform %}

{%- for image in product.images -%}
  {%- capture variantTitle -%}
    {%- for variant in image.variants -%}
      {%- if image.attached_to_variant? -%}
        {{ variant.title }}
      {% endif %}
    {%- endfor -%}
  {%- endcapture -%}

  <picture>
    <source media="(max-width: 375.98px)" srcset="{{ image.src | img_url: '343x' }}" />
    <source media="(min-width: 376px) and (max-width: 575.98px)" srcset="{{ image.src | img_url: '543x' }}" />
    <source media="(min-width: 576px) and (max-width: 768.98px)" srcset="{{ image.src | img_url: '736x' }}" />
    <source media="(min-width: 769px)" srcset="{{ image.src | img_url: '928x' }}" />
    <img
        src="{{ image.src | img_url: '928x' }}"
        height="928" width="928"
        alt="{{ image.alt | escape }}{% if variantTitle.size > 1 %} {{ variantTitle | strip }}{% endif %}"
        class="product--image{% if variantTitle.size > 1 %} {{ variantTitle | downcase | strip }}{% endif %}{% if forloop.first %} active{% endif %}"
        {% unless forloop.first %}loading="lazy"{% endunless %}
    >
  </picture>
{%- endfor -%}

<p>{{ product.description }}</p>

{% schema %}
  {
    "name": "Product template",
    "tag": "section",
    "class": "product-template",
    "limit": 1,
    "settings": [],
    "presets": [
      {
        "name": "Product template"
      }
    ],
    "enabled_on": {
      "templates": ["product"]
    }
  }
{% endschema %}

{% stylesheet %}
  .product--image {
    &:not('.active') {
      display: none;
    }
  }

  form[action$="/cart/add"] {
    & dialog {
      border: unset;
      left: 50%;
      padding: var(--base__size);
      position: fixed;
      transform: translate(-50%, -50%);
      top: 50%;
    }
  }
{% endstylesheet %}

{% javascript %}
  const addToCartForm = document.querySelector('form[action$="/cart/add"]');
  const addToCartBtn = addToCartForm.querySelector('input[type="submit"]');

  addToCartAjax = () => {
    const formData = new FormData(addToCartForm);

    fetch(window.Shopify.routes.root + 'cart/add.js', {
      method: 'POST',
      body: formData
    })
    .then(response => {
      return response.json();
    })
    .catch((error) => {
      console.error('Error:', error);
    });
  };


  const addToCartSelect = addToCartForm.querySelector('select');
  const productTitle = document.querySelector('.product--title');
  const productPrice = document.querySelector('.product--price');

  productPriceUpdate = () => {
    const price = addToCartSelect.options[addToCartSelect.selectedIndex].getAttribute('data-price');

    productPrice.innerHTML = price;
  }

  document.addEventListener('DOMContentLoaded', () => productPriceUpdate());
  addToCartSelect.addEventListener('change', () => productPriceUpdate());


  const addToCartDialog = addToCartForm.querySelector('dialog');
  const dialogTitle = document.querySelector('.dialog--title');
  const dialogQuantity = document.querySelector('.dialog--quantity');

  addToCartBtn.addEventListener('click', (event) => {
    event.preventDefault();
    addToCartAjax();

    const title = `${productTitle.innerHTML} ${addToCartSelect.options[addToCartSelect.selectedIndex].innerHTML}`;
    const quantity = addToCartForm.querySelector('input[name="quantity"]').value;

    dialogTitle.innerHTML = title;
    dialogQuantity.innerHTML = quantity;

    addToCartDialog.showModal();
    setTimeout(() =>  {
      addToCartDialog.close()
    }, 4000);
  });
{% endjavascript %}
