<h1>{{ product.title }}</h1>

{% if product.available %}
  <p class="product--price">{{ product.price | money }}</p>
{% else %}
  <p>Sold out</p>
{% endif %}

{%- assign featured_image = product.featured_image -%}
<img src="{{ featured_image | img_url: '1024x'}}" alt="{{ featured_image.alt | escape }}">

<p>{{ product.description }}</p>

{% form 'product', product %}
  <select name="id"{% if product.has_only_default_variant %} class="hidden"{% endif %}>
    {% for variant in product.variants %}
      {% if variant.available == true %}
          <option value="{{variant.id}}" data-price="{{ variant.price | money }}">{{ variant.title }}</option>
        {% else %}
          <option disabled="disabled">{{ variant.title }} (sold out)</option>
      {% endif %}
    {% endfor %}
  </select>
  <input type="text" name="quantity" min="1" value="1">
  <input type="submit" value="Add to cart">
  <dialog>
    <p>Product added to <a href="/cart">cart</a></p>
  </dialog>
{% endform %}

{% schema %}
  {
    "name": "Product template",
    "tag": "section",
    "class": "product-template",
    "limit": 1,
    "settings": [],
    "presets": [
      {
        "name": "Product template"
      }
    ],
    "enabled_on": {
      "templates": ["product"]
    }
  }
{% endschema %}

{% stylesheet %}
  form[action$="/cart/add"] {
    & dialog {
      border: unset;
      left: 50%;
      padding: var(--base__size);
      position: fixed;
      transform: translate(-50%, -50%);
      top: 50%;
    }
  }
{% endstylesheet %}

{% javascript %}
  const addToCartForm = document.querySelector('form[action$="/cart/add"]');
  const addToCartBtn = addToCartForm.querySelector('input[type="submit"]');

  addToCartAjax = () => {
    const formData = new FormData(addToCartForm);

    fetch(window.Shopify.routes.root + 'cart/add.js', {
      method: 'POST',
      body: formData
    })
    .then(response => {
      return response.json();
    })
    .catch((error) => {
      console.error('Error:', error);
    });
  };


  const addToCartSelect = addToCartForm.querySelector('select');
  const productPrice = document.querySelector('.product--price');

  addToCartSelect.addEventListener('change', (event) => {
    const price = addToCartSelect.options[addToCartSelect.selectedIndex].getAttribute('data-price');
    productPrice.innerHTML = price;
  });


  const addToCartDialog = addToCartForm.querySelector('dialog');

  addToCartBtn.addEventListener('click', (event) => {
    event.preventDefault();
    addToCartAjax();

    addToCartDialog.showModal();
    setTimeout(() =>  {
      addToCartDialog.close()
    }, 2500);
  });
{% endjavascript %}
