<h1>{{ product.title }}</h1>

<div class="flex">
  <div class="col--33">
    {% if product.available %}
      {% if product.price_varies and template == 'collection' %}
        <p>From {{ product.price_min | money }} to {{ product.price_max | money }}</p>
      {% else %}
        <p>{{ product.price | money }}</p>
      {% endif %}
    {% else %}
      <p>Sold out</p>
    {% endif %}

    {%- assign featured_image = product.featured_image -%}
    <img src="{{ featured_image | img_url: '1024x'}}" alt="{{ featured_image.alt | escape }}">

    {% form 'product', product %}
      <select name="id"{% if product.has_only_default_variant %} class="hidden"{% endif %}>
        {% for variant in product.variants %}
          {% if variant.available == true %}
              <option value="{{variant.id}}"> {{ variant.title }} for {{ variant.price | money_with_currency }}</option>
            {% else %}
              <option disabled="disabled"> {{ variant.title }} - sold out!</option>
          {% endif %}
        {% endfor %}
      </select>
      <input type="text" name="quantity" min="1" value="1">
      <input type="submit" value="Add to cart">
      <dialog>
        <p>Added to <a href="/cart">cart</a></p>
      </dialog>
    {% endform %}
  </div>

  <div class="col--66">
    <p>{{ product.description }}</p>
  </div>
</div>

{% schema %}
  {
    "name": "Product template",
    "tag": "section",
    "class": "product-template",
    "limit": 1,
    "settings": [],
    "presets": [
      {
        "name": "Product template"
      }
    ],
    "enabled_on": {
      "templates": ["product"]
    }
  }
{% endschema %}

{% javascript %}
  const addToCartForm = document.querySelector('form[action$="/cart/add"]');
  const addToCartBtn = addToCartForm.querySelector('input[type="submit"]');
  const addToCartDialog = addToCartForm.querySelector('dialog');

  addToCartAjax = () => {
    let formData = new FormData(addToCartForm);

    fetch(window.Shopify.routes.root + 'cart/add.js', {
      method: 'POST',
      body: formData
    })
    .then(response => {
      return response.json();
    })
    .catch((error) => {
      console.error('Error:', error);
    });
  };

  addToCartBtn.addEventListener('click', (event) => {
    event.preventDefault();
    addToCartAjax();

    addToCartDialog.showModal();
    setTimeout(() =>  {
      addToCartDialog.close()
    }, 2500);
  });
{% endjavascript %}
