<h1 class="product__title">{{ product.title }}</h1>
<p class="product__price">{{ product.price | money }}</p>

{% form 'product', product %}
  <input type="number" name="quantity" min="1" value="1">
  <select name="id"{% if product.has_only_default_variant %} class="hidden"{% endif %}>
    {% for variant in product.variants %}
      {% if variant.available == true %}
          <option value="{{ variant.id }}" data-price="{{ variant.price | money }}">{{ variant.title }}</option>
        {% else %}
          <option disabled="disabled">{{ variant.title }} (sold out)</option>
      {% endif %}
    {% endfor %}
  </select>
  <input type="submit" value="Add to cart">
  <dialog>
    <p><span class="dialog--quantity"></span> x <span class="dialog--title"></span> added to <a href="/cart">cart</a></p>
  </dialog>
{% endform %}

<div class="product__picture">
  {%- for image in product.images -%}
    {%- capture variantTitle -%}
      {%- for variant in image.variants -%}
        {%- if image.attached_to_variant? -%}
          {{ variant.title }}
        {% endif %}
      {%- endfor -%}
    {%- endcapture -%}

    <picture class="product__image{% if variantTitle.size > 1 %} {{ variantTitle | downcase | strip }}{% endif %}{% unless forloop.first %} hidden{% endunless %}">
      <source media="(max-width: 375.98px)" srcset="{{ image.src | img_url: '343x343' }}" />
      <source media="(min-width: 376px) and (max-width: 575.98px)" srcset="{{ image.src | img_url: '543x543' }}" />
      <source media="(min-width: 576px) and (max-width: 768.98px)" srcset="{{ image.src | img_url: '736x736' }}" />
      <source media="(min-width: 769px)" srcset="{{ image.src | img_url: '928x928' }}" />
      <img
          src="{{ image.src | img_url: '928x928' }}"
          height="928" width="928"
          alt="{{ image.alt | escape }}{% if variantTitle.size > 1 %} {{ variantTitle | strip }}{% endif %}"
          {% unless forloop.first %}loading="lazy"{% endunless %}
      >
    </picture>
  {%- endfor -%}
</div>

<button class="product__image--btn-previous" disabled role="button">Previous</button>
<button class="product__image--btn-next" role="button">Next</button>

<p>{{ product.description }}</p>

{% schema %}
  {
    "name": "Product",
    "tag": "section",
    "class": "product",
    "limit": 1,
    "settings": [],
    "presets": [
      {
        "name": "Product"
      }
    ],
    "enabled_on": {
      "templates": ["product"]
    }
  }
{% endschema %}

{% javascript %}
  /*
    Add to cart Ajax
  */
  const addToCartForm = document.querySelector('form[action$="/cart/add"]');
  const addToCartBtn = addToCartForm.querySelector('input[type="submit"]');

  addToCartAjax = () => {
    const formData = new FormData(addToCartForm);

    fetch(window.Shopify.routes.root + 'cart/add.js', {
      method: 'POST',
      body: formData
    })
    .then(response => {
      return response.json();
    })
    .catch((error) => {
      console.error('Error:', error);
    });
  };


  /*
    Update product price and image based on select option
  */
  const addToCartSelect = addToCartForm.querySelector('select');
  const productTitle = document.querySelector('.product__title');
  const productPrice = document.querySelector('.product__price');
  const productPictures = document.querySelectorAll('.product__image');

  productImageUpdate = () => {
    let productVariantTitle = addToCartSelect.options[addToCartSelect.selectedIndex].innerHTML;

    productPictures.forEach((picture) => {
      (picture.classList.contains(productVariantTitle.toLowerCase())) ? picture.classList.remove('hidden') : picture.classList.add('hidden');
    });
  }

  productPriceUpdate = () => {
    let price = addToCartSelect.options[addToCartSelect.selectedIndex].getAttribute('data-price');

    productPrice.innerHTML = price;
  }

  document.addEventListener('DOMContentLoaded', () => productPriceUpdate());
  addToCartSelect.addEventListener('change', () => {
    productImageUpdate();
    productPriceUpdate();
  });


  /*
    Allow browsing of product images via button navigation
  */
  const productPictureBtnPrevious = document.querySelector('[class*=btn-previous]');
  const productPictureBtnNext = document.querySelector('[class*=btn-next]');

  productPictureBrowse = (direction) => {
    let currentPicture = document.querySelector('.product__image:not(.hidden)');

    if (direction === 'next') {
      if (currentPicture.nextSibling != null) {
        currentPicture.classList.add('hidden')
        currentPicture.nextSibling.classList.remove('hidden');
      else {
        productPictureBtnNext.setAttribute('disabled', '');
      }
    } else if (direction === 'previous') {
      if (currentPicture.previousSibling != null) {
        currentPicture.classList.add('hidden')
        currentPicture.previousSibling.classList.remove('hidden');
      else {
        productPictureBtnPrevious.setAttribute('disabled', '');
      }
    }
  }

  productPictureBtnPrevious.addEventListener('click', () => productPictureBrowse('previous'));
  productPictureBtnNext.addEventListener('click', () => productPictureBrowse('next'));


  /*
    Dialog config and show on cart add
  */
  const addToCartDialog = addToCartForm.querySelector('dialog');
  const dialogTitle = document.querySelector('.dialog--title');
  const dialogQuantity = document.querySelector('.dialog--quantity');

  addToCartBtn.addEventListener('click', (event) => {
    event.preventDefault();
    addToCartAjax();

    let productVariantTitle = addToCartSelect.options[addToCartSelect.selectedIndex].innerHTML;
    let title = `${productTitle.innerHTML} ${productVariantTitle}`;
    let quantity = addToCartForm.querySelector('input[name="quantity"]').value;

    dialogTitle.innerHTML = title;
    dialogQuantity.innerHTML = quantity;

    addToCartDialog.showModal();
    setTimeout(() =>  {
      addToCartDialog.close()
    }, 4000);
  });
{% endjavascript %}
