<h2>{{ product.title }}</h2>

{% if product.available %}
  {% if product.price_varies and template == 'collection' %}
    <p>From {{ product.price_min | money }} to {{ product.price_max | money }}</p>
  {% else %}
    <p>{{ product.price | money }}</p>
  {% endif %}
{% else %}
  <p>Sold out</p>
{% endif %}

<dl>
  <dt><span class="visuallyhidden">Regular price</span></dt>
  <dd>{{ product.price | money }}</dd>

  {%- if product.vendor -%}
    <dt><span class="visuallyhidden">Vendor</span></dt>
    <dd>{{ product.vendor }}</dd>
  {%- endif -%}

</dl>

<p>{{ product.description }}</p>

{%- assign featured_image = product.featured_image -%}
<img src="{{ featured_image | img_url: '1024x'}}" alt="{{ featured_image.alt | escape }}">

{%- if product.metafields.instructions != blank -%}
  <ul>
    {%- for field in product.metafields.instructions -%}
      <li>{{ field | first }}: {{ field | last }}</li>
    {%- endfor -%}
  </ul>
{%- endif -%}

{% schema %}
  {
    "name": "Product template",
    "tag": "section",
    "class": "product-template",
    "limit": 1,
    "settings": [],
    "presets": [
      {
        "name": "Product template"
      }
    ],
    "enabled_on": {
      "templates": ["product"]
    }
  }
{% endschema %}
