<h1 class="product__title">{{ product.title }}</h1>
<p class="product__price">{{ product.price | money }}</p>

{% form 'product', product %}
  <input type="number" name="quantity" min="1" value="1">
  <select name="id"{% if product.has_only_default_variant %} class="display-none"{% endif %}>
    {% for variant in product.variants %}
      {% if variant.available == true %}
          <option value="{{ variant.id }}" data-price="{{ variant.price | money }}">{{ variant.title }}</option>
        {% else %}
          <option disabled="disabled">{{ variant.title }} (sold out)</option>
      {% endif %}
    {% endfor %}
  </select>
  <input type="submit" value="Add to cart">
{% endform %}

<div class="product__gallery">
  <div class="product__gallery--container">
    {%- for image in product.images -%}
      {%- capture variantTitle -%}
        {%- for variant in image.variants -%}
          {%- if image.attached_to_variant? -%}
            {{ variant.title }}
          {% endif %}
        {%- endfor -%}
      {%- endcapture -%}

      <picture class="product__image{% if variantTitle.size > 1 %} {{ variantTitle | downcase | strip | replace: ' ', '-' | replace: '&', 'and' }}{% endif %}{% unless forloop.first %} display-none{% endunless %}">
        <source media="(max-width: 375.98px)" srcset="{{ image.src | img_url: '343x343' }}" />
        <source media="(min-width: 376px) and (max-width: 575.98px)" srcset="{{ image.src | img_url: '543x543' }}" />
        <source media="(min-width: 576px) and (max-width: 768.98px)" srcset="{{ image.src | img_url: '736x736' }}" />
        <source media="(min-width: 769px)" srcset="{{ image.src | img_url: '928x928' }}" />
        <img
            src="{{ image.src | img_url: '928x928' }}"
            height="928" width="928"
            alt="{{ image.alt | escape }}{% if variantTitle.size > 1 %} {{ variantTitle | strip }}{% endif %}"
            {% unless forloop.first %}loading="lazy"{% endunless %}
        >
      </picture>
    {%- endfor -%}
  </div>

  {%- if product.images.size > 1 -%}
    <div class="product__gallery--thumbnail-container">
      {%- for image in product.images -%}
        {%- capture variantTitle -%}
          {%- for variant in image.variants -%}
            {%- if image.attached_to_variant? -%}
              {{ variant.title }}
            {% endif %}
          {%- endfor -%}
        {%- endcapture -%}

        <img class="product__image--thumbnail{% if variantTitle.size > 1 %} {{ variantTitle | downcase | strip | replace: ' ', '-' | replace: '&', 'and' }}{% endif %}{% if forloop.first %} active{% endif %}"
           src="{{ image.src | img_url: '128x128' }}"
           height="128" width="128"
           alt="{{ image.alt | escape }}{% if variantTitle.size > 1 %} {{ variantTitle | strip }}{% endif %}"
        >
      {%- endfor -%}
    </div>
  {% endif %}
</div>

{%- if product.images.size > 1 -%}
  <div class="product__image--btn-container">
    <button class="product__image--btn-previous" disabled role="button">Previous</button>
    <button class="product__image--btn-next" role="button">Next</button>
  </div>
{% endif %}

<p>{{ product.description }}</p>

{% schema %}
  {
    "name": "Product",
    "tag": "section",
    "class": "product",
    "limit": 1,
    "settings": [],
    "presets": [
      {
        "name": "Product"
      }
    ],
    "enabled_on": {
      "templates": ["product"]
    }
  }
{% endschema %}

{% style %}
  .active {
    opacity: 0.75;
  }
{% endstyle %}

{% javascript %}
  const addToCartForm = document.querySelector('form[action$="/cart/add"]');
  const addToCartBtn = addToCartForm.querySelector('input[type="submit"]');

  /*
    Update product price update
  */
  const addToCartSelect = addToCartForm.querySelector('select');
  const productPrice = document.querySelector('.product__price');

  productPriceUpdate = () => {
    let price = addToCartSelect.options[addToCartSelect.selectedIndex].getAttribute('data-price');

    productPrice.innerHTML = price;
  }

  document.addEventListener('DOMContentLoaded', () => productPriceUpdate());
  addToCartSelect.addEventListener('change', () => productPriceUpdate());

  /*
    Add to cart
  */
  addToCartBtn.addEventListener('click', (event) => {
    event.preventDefault();

    const formData = new FormData(addToCartForm);

    fetch(window.Shopify.routes.root + 'cart/add.js', {
      method: 'POST',
      body: formData
    })
    .then(response => {
      return response.json();
    })
    .catch((error) => {
      console.error('Error:', error);
    });
  });
{% endjavascript %}
