{% layout none %}

<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">

    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    <title>{{ page_title }}</title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {{ 'main.css' | asset_url | stylesheet_tag }}

    {{ content_for_header }}
  </head>

  <body>
    <a class="visually-hidden-focusable" href="#main">Skip to main content</a>

    {{ section 'header' }}

    <main id="main">
      {{ content_for_layout }}
    </main>

    {{ section 'footer' }}

    <script async src="<{{ 'main.js' | asset_url }}"></style>
  </body>
</html>
